@charset "UTF-8";

.top-wrapper{
    background-size: cover;
    background-image:url(https://lh3.googleusercontent.com/-FdIsBZcK8NzVDmqXeX-m50JXZYiPaiKtBpFAWetUCFIDGKB4Mv2Raj1ZqIHRBcpOJhKipZbcH4y1x7dPdsuub-gEtta8MOwTrHRuLKCWQOy4ZB7GuouClyqwXLLe4VFEg-PI3rTyG1geivKexPSTqn96ac1RF8RAiaRBHc11-tBX9O2j7rcP_JB8uGENnk0qKPPypH9ROW9metBkyfldHfZOFJl34FI0K9LpPbAV6AtjjUGCeWd-MjZiLjjEFxmnWVTY-WlJpZm0jupDP9hDkh2NP54Yziui1eaWD2vsBt4rwtak7StSVUD2yMsha9FYX7gLOQLuAcudAmwAHYTLjR7viW3nVY8T2X1ZMbL4pwY8GCGmtebahTnR9YAftmzVx2uRPXeC5CNdns8Yg1kjglhQKWfcal1RFB-MBDt8JVpmhEwPgLjDyr6zsEXg_I7M6ZsPv3XFrwv3DIStpBsPssnZ_hXOC5FBAy7dEJz3dVx7nWP78_2WL3I_JyNNOrq-_DAhMP3ggUWmcfURLkFwLat1Jq7leAnCEeRxbgqycNJAsec8G6O13XkFy6Osq91gcNIXdw76ncKOwKtGTE7gT8JMyN00SSJOpEXT1jkiatnCPBYAuskr_FXQZYBkoIn7c02NaAcLTPJZ7-akB1HHc26JgkgDeY=w1304-h867-no);
    height: 500px;
}



.k1{
    float: left;
    width: 25%;
    padding-left: 100px;
}


.twitter-timeline{
    float: right;
}
